{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet"
          href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      {% if db_name == "Cafe" %}
        <h2>😻 早午餐、咖啡、甜點 😻</h2>
      {% elif db_name == "StreetfoodStore" %}
        <h2>😻 小吃、餐廳 😻</h2>
      {% elif db_name == "IceStore" %}
        <h2>😻 冰品、飲料 😻</h2>
      {% elif db_name == "BreakfastStore" %}
        <h2>😻 早點、點心、夜點 😻</h2>
      {% endif %}


       <br>
       <h4>綜合評比</h4>
       <table class="table">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->

            {% for items in stats %}
                <tr>
                    {% for item in items %}
                        {% if item.find("http") != -1 %}
                            <td><a target=”_blank” href={{ item }}>Link</a></td>
                        {% else %}
                            {% if items.index(item) == 0 and stats.index(items) != 0 %}
                            <td>
                                {% if current_user.id == 1 %}
                                <a href="{{ url_for('delete_stats_query', item=item, db_name=db_name) }}">❌ </a>
                                {% endif %}
                                {% if current_user.id == 1 %}
                                <a href="{{ url_for('edit_stats', item=item, db_name=db_name) }}">{{ item }}</a>
                                {% else %}
                                {{ item }}
                                {% endif %}
                            </td>
                            {% else %}
                            <td>{{ item }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
              {% endfor %}

        </table>

        <hr>
        <br>

        <h4>店家清單: 造訪過{{ visited_stores }}家，口袋裡{{ to_visit_stores }}家，總共{{ total_stores }}家</h4>
        <table class="table">



              {% for items in cafes %}
                <tr>
                    {% for item in items %}
                        {% if item.find("http") != -1 %}
                            <td><a target=”_blank” href={{ item }}>Link</a></td>
                        {% else %}
                            {% if items.index(item) == 0 and cafes.index(items) != 0 %}
                            <td>
                                {% if current_user.id == 1 %}
                                <a href="{{ url_for('delete_query', cafe_title=item, db_name=db_name) }}">❌ </a>
                                {% endif %}
                                {% if current_user.id == 1 %}
                                <a href="{{ url_for('edit_cafe', cafe_title=item, db_name=db_name) }}">{{ item }}</a>
                                {% else %}
                                {{ item }}
                                {% endif %}
                            </td>
                            {% else %}
                            <td>{{ item }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
              {% endfor %}

  	  </table>

        <hr>

        {% if current_user.id == 1 %}
        <a class="btn btn-danger btn-lg" href="{{ url_for('add_stats', db_name=db_name) }}" role="button">新增評比</a>
        <a class="btn btn-danger btn-lg" href="{{ url_for('add_stores', db_name=db_name) }}" role="button">新增店家</a>
        {% else %}
        <a class="btn btn-warning btn-lg" href="{{ url_for('stores', db_name='Cafe') }}" role="button">早午餐、咖啡、甜點</a>
        <a class="btn btn-danger btn-lg" href="{{ url_for('stores', db_name='StreetfoodStore') }}" role="button">小吃、餐廳</a>
        <a class="btn btn-info btn-lg" href="{{ url_for('stores', db_name='IceStore') }}" role="button">冰品、飲料</a>
        <a class="btn btn-success btn-lg" href="{{ url_for('stores', db_name='BreakfastStore') }}" role="button">早點、點心、夜點</a>
        {% endif %}

        {% if logged_in %}
        <a class="btn btn-warning btn-lg" href="{{ url_for('home') }}" role="button">回到首頁</a>
        <a class="btn btn-primary btn-lg" href="{{ url_for('logout') }}" role="button">登出</a>
        {% else %}
        <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}" role="button">回到首頁</a>
        {% endif %}

<!--      <p><a href={{ url_for("home") }}>Return to index page</a></p>-->

    </div>
  </div>
</div>

{% endblock %}
