{% extends 'bootstrap/base.html' %}
<!--{% import "bootstrap/wtf.html" as wtf %}-->
{% block title %}Delete Cafe's Information{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet"
          href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

<!--      <h1>✍️ 刪除店家資訊 ✍️</h1>-->

        <h3> 真的要從清單中移除 : {{ cafe }} ⁉️</h3>


      <!-- This is where your WTForm will go -->


        {% if db_group == "stats" %}
        <a class="btn btn-warning btn-md" href="{{ url_for('delete_stats', item=cafe, db_name=db_name) }}" role="button">確定</a>
        {% else %}
        <a class="btn btn-warning btn-md" href="{{ url_for('delete_cafe', cafe_title=cafe, db_name=db_name) }}" role="button">確定</a>
        {% endif %}
        <a class="btn btn-warning btn-lg" href="{{ url_for('stores', db_name=db_name) }}" role="button">取消</a>

    </div>
  </div>
</div>

{% endblock %}
